.NavBar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
}
/*Logo*/
.NavBar .container-logo {
    width: 50%;
}
.NavBar .container-logo-content {
    width: 100px;
    margin-left: 10px;
}
/*List*/
.container-list {
    width: 50%;
}
.NavBar .container-logo .logo-img {
    width: 100%;
    height: 100%;
}
.NavBar .container-list-content {
    display: flex;
}
.NavBar .container-list-content .list-option {
    display: inline-block;
    margin: 0 20px;
}
.NavBar .container-list-content .list-option .list-option-link {
    text-decoration: none;
    color: white;
}
.NavBar .container-list-content .list-option .list-option-link:hover {
    color: black;
}