.NavBar {
    background-color: rgb(120, 172, 17);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}
.container-logo {
    width: 50%;
    display: flex;
    justify-content: star;
    align-items: center;
    margin-left: 20px;
}
.container-logo-content {
    width: 130px;
}
.logo-img {
    width: 100%;
    height: 100%;
}
.container-list {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.container-list-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list-option {
    list-style: none;
    padding: 3px;
    font-size: 1rem;
    cursor: pointer;
}

.list-option:hover {
    transform: scale(1.05);
}

.list-option a {
    text-decoration: none;
    color: white;
    transition: .2s ease;
}

.list-option a:hover {
    color: #000;
}